.api--link {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-right: 15px;
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: #505055;
  font-weight: 500;
}

.api--link:hover {
  background-color: #f6f6f6;
}