.description-element {
  padding: 8px 15px;
  margin: 5px 0;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #666;
  width: fit-content;
  user-select: none;
  transition: background-color 0.1s ease-out;
  position: relative;
}

.description-element:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.delete-description-btn {
  position: absolute;
  z-index: 2;
  top: -5px;
  right: -5px;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background-color: #f05050;
  border-radius: 50%;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  transition: all 0.1s ease-out;
}

.delete-description-btn:hover {
  height: 16px;
  width: 16px;
  font-size: 13px;
}

.description-form-container {
  padding: 10px;
  margin: 10px 0;
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 5px;
  width: max-content;
  box-shadow: 1px 1px 5px 0px #ccc;
}

.description-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.description-form-label {
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  color: #fff;
  padding: 1px;
  display: flex;
  width: 150px;
}

.description-form-label:first-child {
  margin-bottom: 10px;
}

.description-label-text {
  padding: 0 7px;
  font-variant-caps: all-petite-caps;
  font-weight: 600;
  width: 65px;
}

.description-form-input {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 4px;
  flex-grow: 1;
  min-width: 0px;
  text-align: center;
}

.description-form-type-input {
  font-variant-caps: all-petite-caps;
  font-size: 15px;
  font-weight: 500;
  padding: 2px;
}